* {
  color: #8B7969;
  font-family: "Inika", serif;
}

.header__inner {
  margin: 0 auto;
  padding: 20px 15px;
  border-bottom: 1px solid #E0DFDE;
  text-align: center;
  max-width: 1230px;
}

.header__logo {
  text-decoration: none;
  font-size: 40px;
}